<h2>Fixture manifests</h2>
<ul class="icon-list">
  <li><a href="https://purl.stanford.edu/kd415qm4337/iiif3/manifest">Rivera 2021</a></li>
  <li><a href="https://gist.githubusercontent.com/cbeer/83079ebad99430b6d9d123543ca702c5/raw/37164f8a66203fcda48abbe8b99bb8d6f31684fe/sample_a.json">Fixture book</a></li>
  <li><a href="https://iiif.io/api/cookbook/recipe/0009-book-1/manifest.json">IIIF Cookbook #0009</a></li>
  <li><a href="https://iiif.io/api/cookbook/recipe/0010-book-2-viewing-direction/manifest-rtl.json">IIIF Cookbook #0010</a></li>
  <li><a href="https://gist.githubusercontent.com/cbeer/83079ebad99430b6d9d123543ca702c5/raw/119ba023a6118d518fc417eb2b9c5f03911262ce/ft452rc5592-corrected.json">The Bradys and the Bronze Idol (with corrections)</a></li>
  <li><a href="https://purl.stanford.edu/ps908vt5059/iiif3/manifest">Statuta Civitatis Massilie</a></li>
</ul>

<form method="GET" action="/manifest">
  <div class="input-group">
    <div class="form-floating w-50">
      <input id="url" name="url" class="form-control" />
      <label for="url">
        Manifest URL
      </label>
    </div>
    <input type="submit" class="btn btn-primary" value="Preview" />
  </div>
</form>
