<h2>Fixture objects</h2>
<ul class="icon-list">
  <% Dir.glob('fixtures/*').each do |fixture| %>
    <li><%= fixture %></li>
  <% end %>
</ul>

<form method="GET" action="/object">
  <div class="input-group">
    <div class="form-floating w-50">
      <input id="path" name="path" class="form-control" />
      <label for="path">
        Cocina Fixture Path
      </label>
    </div>
    <input type="submit" class="btn btn-primary" value="Preview" />
  </div>
</form>
